html {background-color: rgb(250, 250, 250);}
h1{
    text-align: center;
    color: rgb(83, 20, 20);
    letter-spacing: .2em;  
    background-position: top center;
    background-position: no-repeat;
    padding-top: 30px;
    margin: 0;
}
table{
    font-size: 90%;
    text-align: center;
    background-color: #ffffff;
    margin: 10px auto;
    width: 500px;
    border: #000000 1px solid;
}
table.Resio{
    font-size: 90%;
    text-align: left;
    background-color: #ffffff;
    margin: 10px auto;
    width: 200px;
    border: #000000 1px solid;
}
div.contenido{
    font-family: "Helvetica", sans-serif;
    font-size: 70%;
    text-align: left;
    background-color: #ffffff;
    margin: 10px auto;
    width: 800px;
    border: rgb(255, 255, 255) 1px solid;
    font-size: 70%;
}